.git
.github
node_modules
**/node_modules
dist
.data
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.log
.DS_Store
packages/fx-contracts/lib
packages/fx-contracts/out
packages/fx-contracts/cache
packages/fx-contracts/broadcast
