# GENERATED by scripts/build-bank-openapi.mjs from src/endpoints.ts
# Do not edit by hand. Run `node scripts/build-bank-openapi.mjs`.
openapi: 3.1.0
info:
  title: "Blueballs banking API"
  version: "2026-08-06"
  description: "180 endpoints across 28 resource families. Money is always a decimal string with an explicit currency; errors are RFC 9457 problem+json. Self-serve a key with POST /v2/auth/signup."
  license:
    name: "MIT"
    identifier: "MIT"
servers:
  - url: "https://blueballs.tech"
    description: "Public reference sandbox"
tags:
  - name: "Auth & API keys"
    description: "Create and manage sandbox API keys."
  - name: "Customers"
    description: "Create customer records and inspect their configured capabilities."
  - name: "Onboarding applications"
    description: "Model application states, documents, attestations and due-diligence records."
  - name: "Accounts"
    description: "Create multi-currency sandbox accounts and query their balances."
  - name: "Receiving details"
    description: "Generate reference receiving details for a sandbox account."
  - name: "Wallets"
    description: "Create sandbox wallet records, balances and policy-gated sends."
  - name: "Recipients"
    description: "Store recipients separately from their payment destinations."
  - name: "Destinations"
    description: "Store rail-specific details and run sandbox name checks."
  - name: "Quotes & exchange"
    description: "Create expiring reference quotes and inspect indicative rates."
  - name: "Stablecoin FX"
    description: "Legacy compatibility endpoints. Use the canonical FX node for new FX work."
  - name: "Transfers"
    description: "Create sandbox transfers with rail-specific legs and statuses."
  - name: "Cards"
    description: "Create sandbox card records and test controls and authorisation flows."
  - name: "Authorisations"
    description: "Simulate card authorisations and record approve or decline decisions."
  - name: "Disputes"
    description: "Model disputes, reason codes, deadlines and evidence."
  - name: "Savings vaults"
    description: "Create sandbox vaults and test deposits, withdrawals and accrual."
  - name: "Credit lines"
    description: "Model credit lines, draws, repayments and collateral checks."
  - name: "Policies"
    description: "Create rules and attach them to accounts, wallets or cards."
  - name: "Approval chains"
    description: "Create threshold-based approval workflows."
  - name: "Organisations"
    description: "Create organisations, members and roles."
  - name: "Ledger & statements"
    description: "Query reference ledger entries and balances, and create sandbox statements."
  - name: "Fees"
    description: "Read and update sandbox fee configuration."
  - name: "Rails registry"
    description: "Query six configured rails, limits, cut-offs and calendars."
  - name: "QR & payment links"
    description: "Generate and decode EMVCo payloads and create payment-link records."
  - name: "Bills & subscriptions"
    description: "Create mandate records and recurring payment schedules in the sandbox."
  - name: "Webhooks"
    description: "Create targets, inspect deliveries and replay signed callbacks."
  - name: "Events"
    description: "Query API event records."
  - name: "Sandbox"
    description: "Design, provision and test isolated financial-product sandboxes."
  - name: "Reference data"
    description: "Query countries, currencies and networks configured in this reference API."
paths:
  "/v2/auth/signup":
    post:
      summary: "Create an account and issue a sandbox key"
      operationId: "postAuthSignup"
      tags: ["Auth & API keys"]
      x-blueballs-access: "PUBLIC"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"email":{"type":"string","description":"Email metadata; never the tenant identity","format":"email"}},"required":["email"]}
      responses:
        "201":
          description: "Auth & API keys response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/KeySecret"}
              example: {"id":"key_example","tenant_id":"tenant_example","key":"bb_sandbox_returned_once","scope":"sandbox","created_at":"2026-08-21T00:00:00.000Z","note":"Store this key now; it cannot be retrieved later."}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/keys":
    post:
      summary: "Issue a new API key"
      operationId: "postKeys"
      tags: ["Auth & API keys"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: false
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"scope":{"type":"string","description":"Requested key scope; cannot exceed the caller scope"}}}
      responses:
        "201":
          description: "Auth & API keys response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/KeySecret"}
              example: {"id":"key_example","tenant_id":"tenant_example","key":"bb_sandbox_returned_once","scope":"sandbox","created_at":"2026-08-21T00:00:00.000Z","note":"Store this key now; it cannot be retrieved later."}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List keys"
      operationId: "getKeys"
      tags: ["Auth & API keys"]
      x-blueballs-access: "TENANT"
      responses:
        "200":
          description: "Paginated auth & api keys collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/KeyPrincipal"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"key_example","tenant_id":"tenant_example","name":"local","scopes":["sandbox"],"created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Revoke every key — incident response"
      operationId: "deleteKeys"
      tags: ["Auth & API keys"]
      x-blueballs-access: "TENANT"
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"object":"list","data":[],"revoked":2}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/keys/{id}":
    get:
      summary: "Key detail and scope"
      operationId: "getKeysId"
      tags: ["Auth & API keys"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Auth & API keys response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/KeyPrincipal"}
              example: {"id":"key_example","tenant_id":"tenant_example","name":"local","scopes":["sandbox"],"created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Revoke one key"
      operationId: "deleteKeysId"
      tags: ["Auth & API keys"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"id":"resource_example","object":"auth_&_api_keys","deleted":true}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/customers":
    post:
      summary: "Create a customer"
      operationId: "postCustomers"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"type":{"type":"string","enum":["individual","business"]},"name":{"type":"string","description":"Customer display or legal name"},"email":{"type":"string","description":"Email metadata; never the tenant identity","format":"email"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}},"required":["type","name"]}
      responses:
        "201":
          description: "Customers response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Customer"}
              example: {"id":"cus_example","type":"individual","name":"Ada Lovelace","status":"active","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List and search customers"
      operationId: "getCustomers"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated customers collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Customer"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"cus_example","type":"individual","name":"Ada Lovelace","status":"active","created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/customers/{id}":
    get:
      summary: "Retrieve a customer"
      operationId: "getCustomersId"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Customers response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Customer"}
              example: {"id":"cus_example","type":"individual","name":"Ada Lovelace","status":"active","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      summary: "Update a customer"
      operationId: "patchCustomersId"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"Updated customer name"},"email":{"type":"string","description":"Email metadata; never the tenant identity","format":"email"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}}}
      responses:
        "200":
          description: "Customers response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Customer"}
              example: {"id":"cus_example","type":"individual","name":"Ada Lovelace","status":"active","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Soft delete — blocked while accounts exist"
      operationId: "deleteCustomersId"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"id":"resource_example","object":"customers","deleted":true}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/customers/{id}/capabilities":
    get:
      summary: "Per-rail status and outstanding requirements"
      operationId: "getCustomersIdCapabilities"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Paginated customers collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Capability"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"rail":"sepa","status":"active","requirements":[],"limit":"1000000.00"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/customers/{id}/verify":
    post:
      summary: "Resolve verification in the sandbox without waiting on a queue"
      operationId: "postCustomersIdVerify"
      tags: ["Customers"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"decision":{"type":"string","description":"Sandbox verification decision","example":"approved"}}}
      responses:
        "200":
          description: "Customers response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Customer"}
              example: {"id":"cus_example","type":"individual","name":"Ada Lovelace","status":"active","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications":
    post:
      summary: "Start an application"
      operationId: "postApplications"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"type":{"type":"string","enum":["individual","business"]},"customer":{"$ref":"#/components/schemas/Identifier"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}},"required":["type"]}
      responses:
        "201":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List applications"
      operationId: "getApplications"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated onboarding applications collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Application"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}":
    get:
      summary: "Application with status and decision"
      operationId: "getApplicationsId"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/business":
    patch:
      summary: "Update business details"
      operationId: "patchApplicationsIdBusiness"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":true,"properties":{"legal_name":{"type":"string","description":"Registered legal name"},"country":{"type":"string","description":"Country of registration","pattern":"^[A-Z]{2}$"},"registration_number":{"type":"string","description":"Company registration number"},"website":{"type":"string","description":"Business website","format":"uri"}}}
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/individual":
    patch:
      summary: "Update individual details"
      operationId: "patchApplicationsIdIndividual"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":true,"properties":{"name":{"type":"string","description":"Legal name"},"date_of_birth":{"type":"string","description":"ISO 8601 date","format":"date"},"country":{"type":"string","description":"Country of residence","pattern":"^[A-Z]{2}$"},"address":{"type":"object","additionalProperties":true,"properties":{}}}}
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/individuals":
    post:
      summary: "Add an associated individual"
      operationId: "postApplicationsIdIndividuals"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":true,"properties":{"name":{"type":"string","description":"Associated individual's legal name"},"role":{"type":"string","description":"Role, for example beneficial_owner"},"ownership_percent":{"type":"number","minimum":0,"maximum":100},"email":{"type":"string","description":"Email metadata; never the tenant identity","format":"email"}},"required":["name"]}
      responses:
        "201":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/AssociatedIndividual"}
              example: {"id":"ind_example","name":"Ada Lovelace","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/individuals/{iid}":
    patch:
      summary: "Update an individual"
      operationId: "patchApplicationsIdIndividualsIid"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - name: "iid"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":true,"properties":{"name":{"type":"string","description":"Updated legal name"},"role":{"type":"string","description":"Updated role"},"ownership_percent":{"type":"number","minimum":0,"maximum":100},"email":{"type":"string","description":"Email metadata; never the tenant identity","format":"email"}}}
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/AssociatedIndividual"}
              example: {"id":"ind_example","name":"Ada Lovelace","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Remove an individual"
      operationId: "deleteApplicationsIdIndividualsIid"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - name: "iid"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"id":"resource_example","object":"onboarding_applications","deleted":true}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/documents":
    post:
      summary: "Upload a document"
      operationId: "postApplicationsIdDocuments"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"type":{"type":"string","description":"Document type"},"content":{"type":"string","description":"Base64-encoded sandbox document","contentEncoding":"base64"},"filename":{"type":"string","description":"Original filename"},"content_type":{"type":"string","description":"Media type","example":"application/pdf"}},"required":["type","content"]}
      responses:
        "201":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/ApplicationDocument"}
              example: {"id":"doc_example","type":"passport","filename":"passport.pdf","content_type":"application/pdf","content":"JVBERi0xLjQ=","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/documents/{did}":
    get:
      summary: "Download a document"
      operationId: "getApplicationsIdDocumentsDid"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - name: "did"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/ApplicationDocument"}
              example: {"id":"doc_example","type":"passport","filename":"passport.pdf","content_type":"application/pdf","content":"JVBERi0xLjQ=","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Delete a document"
      operationId: "deleteApplicationsIdDocumentsDid"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - name: "did"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"id":"resource_example","object":"onboarding_applications","deleted":true}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/submit":
    post:
      summary: "Submit for verification"
      operationId: "postApplicationsIdSubmit"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/attestation":
    post:
      summary: "Submit an attestation"
      operationId: "postApplicationsIdAttestation"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"statement":{"type":"string","description":"Statement being attested"},"agreed":{"type":"boolean","description":"Must be true"}},"required":["statement","agreed"]}
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/applications/{id}/edd":
    post:
      summary: "Create or update enhanced due diligence"
      operationId: "postApplicationsIdEdd"
      tags: ["Onboarding applications"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema: {"type":"object","additionalProperties":true,"properties":{"source_of_funds":{"type":"string","description":"Source-of-funds explanation"},"source_of_wealth":{"type":"string","description":"Source-of-wealth explanation"},"decision":{"type":"string","enum":["approved","declined","withdrawn"]},"notes":{"type":"string","description":"Compliance notes"}}}
      responses:
        "200":
          description: "Onboarding applications response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Application"}
              example: {"id":"app_example","customer":"cus_example","status":"submitted","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/accounts":
    post:
      summary: "Create a sandbox account"
      operationId: "postAccounts"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"customer":{"$ref":"#/components/schemas/Identifier"},"currency":{"$ref":"#/components/schemas/CurrencyCode"},"type":{"type":"string","description":"Account type","example":"holding"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}},"required":["customer","currency"]}
      responses:
        "201":
          description: "Accounts response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Account"}
              example: {"id":"acc_example","customer":"cus_example","currency":"EUR","balance":"1250.00","status":"open","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List accounts"
      operationId: "getAccounts"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      parameters:
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated accounts collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Account"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"acc_example","customer":"cus_example","currency":"EUR","balance":"1250.00","status":"open","created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/accounts/{id}":
    get:
      summary: "Balance and identifiers"
      operationId: "getAccountsId"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Accounts response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Account"}
              example: {"id":"acc_example","customer":"cus_example","currency":"EUR","balance":"1250.00","status":"open","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    patch:
      summary: "Update an account"
      operationId: "patchAccountsId"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"label":{"type":"string","description":"Account label"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}}}
      responses:
        "200":
          description: "Accounts response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Account"}
              example: {"id":"acc_example","customer":"cus_example","currency":"EUR","balance":"1250.00","status":"open","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    delete:
      summary: "Close an account"
      operationId: "deleteAccountsId"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Resource deletion or revocation result"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/DeleteResult"}
              example: {"id":"resource_example","object":"accounts","deleted":true}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/accounts/{id}/credit":
    post:
      summary: "Credit an account directly — sandbox funding"
      operationId: "postAccountsIdCredit"
      tags: ["Accounts"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"amount":{"$ref":"#/components/schemas/DecimalAmount"}},"required":["amount"]}
      responses:
        "200":
          description: "Accounts response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Account"}
              example: {"id":"acc_example","customer":"cus_example","currency":"EUR","balance":"1250.00","status":"open","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/accounts/{id}/details":
    post:
      summary: "Issue receiving details for a rail"
      operationId: "postAccountsIdDetails"
      tags: ["Receiving details"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"rail":{"type":"string","description":"Configured receiving rail","example":"ach"}},"required":["rail"]}
      responses:
        "201":
          description: "Receiving details response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/ReceivingDetail"}
              example: {"id":"adt_example","account":"acc_example","rail":"sepa","details":{"iban":"DE02120300000000202051"},"created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List receiving details"
      operationId: "getAccountsIdDetails"
      tags: ["Receiving details"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated receiving details collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ReceivingDetail"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"adt_example","account":"acc_example","rail":"sepa","details":{"iban":"DE02120300000000202051"},"created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/details/{id}":
    get:
      summary: "Retrieve one instrument"
      operationId: "getDetailsId"
      tags: ["Receiving details"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Receiving details response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/ReceivingDetail"}
              example: {"id":"adt_example","account":"acc_example","rail":"sepa","details":{"iban":"DE02120300000000202051"},"created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets":
    post:
      summary: "Create a wallet"
      operationId: "postWallets"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"customer":{"$ref":"#/components/schemas/Identifier"},"currency":{"$ref":"#/components/schemas/CurrencyCode"},"network":{"type":"string","description":"Blockchain network","example":"base"},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}},"required":["customer","currency"]}
      responses:
        "201":
          description: "Wallets response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Wallet"}
              example: {"id":"wal_example","customer":"cus_example","network":"base","address":"0x0000000000000000000000000000000000000001","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
      summary: "List wallets"
      operationId: "getWallets"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated wallets collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Wallet"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"wal_example","customer":"cus_example","network":"base","address":"0x0000000000000000000000000000000000000001","created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets/{id}":
    get:
      summary: "Retrieve a wallet"
      operationId: "getWalletsId"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Wallets response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Wallet"}
              example: {"id":"wal_example","customer":"cus_example","network":"base","address":"0x0000000000000000000000000000000000000001","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets/{id}/balances":
    get:
      summary: "Balances across networks"
      operationId: "getWalletsIdBalances"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: "Paginated wallets collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WalletBalance"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"currency":"EURC","network":"base","amount":"250.00"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets/{id}/credit":
    post:
      summary: "Credit a wallet directly — sandbox funding"
      operationId: "postWalletsIdCredit"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"amount":{"$ref":"#/components/schemas/DecimalAmount"},"currency":{"$ref":"#/components/schemas/CurrencyCode"}},"required":["amount"]}
      responses:
        "200":
          description: "Wallets response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Wallet"}
              example: {"id":"wal_example","customer":"cus_example","network":"base","address":"0x0000000000000000000000000000000000000001","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets/{id}/send":
    post:
      summary: "Send from a wallet"
      operationId: "postWalletsIdSend"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"amount":{"$ref":"#/components/schemas/DecimalAmount"},"currency":{"$ref":"#/components/schemas/CurrencyCode"},"to":{"type":"string","description":"Destination address or wallet identifier"}},"required":["amount","currency","to"]}
      responses:
        "200":
          description: "Wallets response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/WalletSend"}
              example: {"id":"snd_example","object":"wallet_send","wallet":"wal_example","amount":{"amount":"25.00","currency":"EURC"},"to":"0x0000000000000000000000000000000000000002","status":"sent","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/wallets/{id}/policies":
    get:
      summary: "Policies attached to a wallet"
      operationId: "getWalletsIdPolicies"
      tags: ["Wallets"]
      x-blueballs-access: "TENANT"
      parameters:
        - name: "id"
          in: path
          required: true
          schema: { type: string }
        - { name: "limit", in: query, required: false, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
        - { name: "cursor", in: query, required: false, schema: { type: string } }
        - { name: "starting_after", in: query, required: false, schema: { type: string } }
        - { name: "ending_before", in: query, required: false, schema: { type: string } }
      responses:
        "200":
          description: "Paginated wallets collection"
          content:
            application/json:
              schema: {"type":"object","additionalProperties":true,"required":["data"],"properties":{"object":{"type":"string","const":"list"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Policy"}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}}}
              example: {"object":"list","data":[{"id":"pol_example","name":"Treasury controls","rules":[],"created_at":"2026-08-21T00:00:00.000Z"}],"has_more":false,"next_cursor":null}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
  "/v2/recipients":
    post:
      summary: "Create a recipient"
      operationId: "postRecipients"
      tags: ["Recipients"]
      x-blueballs-access: "TENANT"
      requestBody:
        required: true
        content:
          application/json:
            schema: {"type":"object","additionalProperties":false,"properties":{"name":{"type":"string","description":"Recipient name"},"destination":{"type":"object","additionalProperties":true,"properties":{}},"client_reference_id":{"type":"string","description":"Caller-supplied idempotent business reference","maxLength":200}},"required":["name"]}
      responses:
        "201":
          description: "Recipients response"
          content:
            application/json:
              schema: {"$ref":"#/components/schemas/Recipient"}
              example: {"id":"rcp_example","name":"Example Supplier","type":"business","created_at":"2026-08-21T00:00:00.000Z"}
        "400":
          description: "Invalid request"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "401":
          description: "Missing or invalid API key"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "403":
          description: "Insufficient access"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "404":
          description: "Resource not found"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "409":
          description: "State or idempotency conflict"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        "429":
          description: "Rate limit exceeded"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
        default:
          description: "RFC 9457 problem document"
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Problem" }
    get:
[...]
